<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resert.css">
    <link rel="stylesheet" href="/css/driver/info.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css">

    <style>
        #GFG {
            text-decoration: none;
        }
        a { 
          color: black;
        }
      </style>
    <title>Customner Report</title>
</head>

<body>
    <section>
        <nav class="Navbar">
            <img id="logo" src="/images/pic/logo.png" alt="this is logo">
            <ul class="Navbar-Directory">
                <li class="Navbar-Directory-item">
                    <a href="/accb_food.vn/taixe/" id="GFG">Order</a>
                </li>
                <li class="Navbar-Directory-item">
                    <a href="/accb_food.vn/taixe/wallet" id="GFG">Wallet</a>
                </li>
            </ul>

            <div class="Navbar-Search">
                <input class="Navbar-Search-input" type="search" placeholder="Search">
                <button class="Navbar-Search-btn">
                    <span>
                        <i class="fa-solid fa-search"></i>
                    </span>
                </button>
            </div>

            <div class="Nav-Subnav">
                <div class="Nav-Subnav-account">
                    <a href="/accb_food.vn/taixe/profile">
                        <i class="fa-regular fa-user"></i>
                    </a>
                </div>
                <div class="Nav-Subnav-love">
                    <form action="/process_sign_out">
                        <button>
                          <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                      </form>
                </div>
            </div>
        </nav>
    </section>

    <div class="go_back">
        <button type="submit">
            <i class="fa-solid fa-arrow-left"></i>
            Information
        </button>
    </div>

    </div>
    <section>
        <form action="/accb_food.vn/taixe/edit_profile" method="post">
            <div class="container">
                <div class="left_container">
                    <div class="top_left_container">
                        <span>My profile</span>
                        <span>Manage profile information for account security</span>
                    </div>
                    <div class="bottom_left_container">
                        <div class="name">
                            <label for="">Your Name</label>
                            <input name="name" value="<%=dataDriver[0].TX_TEN%>">
                        </div>
                        <div class="gende">
                            <label for="">Gentle</label>
                            <input name="sex" value="<%=dataDriver[0].TX_GIOITINH%>">
                        </div>
                        <div class="ID">
                            <label for="">ID</label>
                            <input name="cmnd" value="<%=dataDriver[0].TX_CMND%>">
                        </div>
                        <div class="Phone">
                            <label for="">Phone Number</label>
                            <input name="sdt" value="<%=dataDriver[0].TX_SDT%>">
                        </div>
                        <div class="license_plates">
                            <label for="">License Plates</label>
                            <input name="bike_number" value="<%=dataDriver[0].TX_BIENSOXE%>">
                        </div>
                    
                        <div class="bank_number">
                            <label for="">Bank Account Number</label>
                            <input name="bank_number" value="<%=dataDriver[0].TX_STK%>">
                        </div>
                        <button>Edit</button>
                    </div>
                </div>
                <div class="right_container">
                    <!--
                        @@
                    -->
                </div>
            </div>
        </form>
    </section>

    <footer>
        <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script src="https://kit.fontawesome.com/9382b228af.js" crossorigin="anonymous"></script>
</body>

</html>