<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/resert.css" />
    <link rel="stylesheet" href="/css/cart.css" />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/fontawesome-free-6.2.1-web/css/all.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <title>Cart</title>
  </head>

  <body>
    <section>
      <nav class="Navbar">
        <img id="logo" src="/images/pic/logo.png" alt="this is logo" />
        <ul class="Navbar-Directory">
          <li class="Navbar-Directory-item">
            <a href="/accb_food.vn" underline="none">Home</a>
          </li>
          <li class="Navbar-Directory-item">Dishes</li>
          <li class="Navbar-Directory-item">Menu</li>
          <li class="Navbar-Directory-item">Review</li>
          <li class="Navbar-Directory-item">Order</li>
          <li class="Navbar-Directory-item">About us</li>
        </ul>

        <div class="Navbar-Search">
          <input
            class="Navbar-Search-input"
            type="search"
            placeholder="Search"
          />
          <button class="Navbar-Search-btn">
            <span>
              <i class="fa-solid fa-search"></i>
            </span>
          </button>
        </div>

        <div class="Nav-Subnav">
          <div class="Nav-Subnav-love">
            <i class="fa-regular fa-heart"></i>
          </div>
          
          <div class="Nav-Subnav-cart">
            <i class="fa-sharp fa-solid fa-cart-plus"></i>
          </div>

          <div class="Nav-Subnav-account">
            <a href="/accb_food.vn/profile">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>
        </div>
      </nav>
    </section>

    <div class="go_back">
      <form action="/accb_food.vn">
        <button type="submit">
          <i class="fa-solid fa-arrow-left"></i>
          BACK
        </button>
      </form>
    </div>

    <section>
      <div class="shopping_cart">
        <div class="top_cart">
          <div class="top_title">
            <span> Your shopping cart </span>
            <span>Dishes of your choice</span>
          </div>
          <div class="list_dishes">
              <% for(let i=0; i<dataFoods.length ; i++){ %>
                <div class="tag_dishes">
                  <div class="top_tag_dishes">
                    <div class="detail_icon">
                      <i class="fa-regular fa-eye"></i>
                    </div>
                    <img src="<%= dataFoods[i].MAN_IMGPATH %>" alt="" width="200px" height="150px"/>
                  </div>
                  <div class="bottom_tag_dishes">
                    <div class="stars">
                      <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                      <span>in stock</span>
                    </div>
                    <div class="details">
                      <span class="name_food"> <%=dataFoods[i].MAN_TEN %> </span>
                      <span
                        <%=dataFoods[i].MAN_MIEUTA%>
                      </span>
                      <span class="price">$ 
                        <span>
                          <%=dataFoods[i].MAN_GIA%>
                        </span>
                      </span>
                    </div>
                    <div class="btn_bottom">

                      <form action="/accb_food.vn/cart/quantity/1/id/<%=dataFoods[i].MAN_MA %>" method="GET">
                        <button>
                          <i class="fa-solid fa-minus"></i>
                        </button>
                      </form>

                      <span class="quantity">
                        <%=dataFoodsinCart[i].SOLUONG%>
                      </span>
                      <form action="/accb_food.vn/cart/quantity/0/id/<%=dataFoods[i].MAN_MA%>" method="GET">
                        <button>
                          <i class="fa-solid fa-plus"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              <% } %>

            <div class="add_dishes">
              <form action="/accb_food.vn">
                <button style="cursor: pointer;">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <form action="/accb_food.vn/process_order" method="POST">
      <section class="bottom">
        <div class="bottom_cart">
            <div class="left_bottom_cart">
              <div class="method_payments">
                <label for="method">Choice a methods:</label>
                <select name="pay">
                  <optgroup label="--Chọn phương thức thanh toán">
                    <option value="Thanh toán online">Thanh toán trực tuyến</option>
                    <option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </form>
  
          <div class="right_bottom_cart">
            <div class="top_right_bottom_cart">
              <span>Totals cost:</span>
              <div class="stock_rate">
                <span>Total stock:</span>
  
                <div class="price">
                  <span>$</span>
                  <span>
                    <%=totalCost %>
                  </span>
                </div>
                
              </div>
              <div class="shipping_rate">
                <span>Shipping rates:</span>
                <div class="price">
                  <span>$</span>
                  <span>10000</span>
                </div>
              </div>
            </div>
            <div class="bottom_right_bottom_cart">
              <div class="total">
                <span>$</span>
                <span><%=totalCost+10000 %></span>

              </div>
                <button>Order now!</button>
              </div>
              
            </div>
          </div>
        </div>
      </section>
    </form>

    <footer>
      <span>Copyright © 2022 ACCB Food Inc.</span>
    </footer>

    <script
      src="https://kit.fontawesome.com/9382b228af.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
